.area{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.outmost{
    width: 100%;
    display: flex;
    margin: 0;
    
}

.box{
    position: relative;
    text-align: center;
    margin: 24px;
    padding: 36px 24px 40px 24px;
    border-radius: 7px;
    background-color: #99BDE4;
    border-color: #000;
    border: solid;
}
div.box p {
    color: white;
}
.right {
    border-style: solid;
    border-width: 0px 0px 3px 3px;
    border-color: #000;
    color: red;
    font-size: 30px;
    line-height: 30px;
    width: 150px;
    text-align: center;
    height: 30px;
    padding: 5px;
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: #006666;
}
div.frame2 div.box div.right {
    background-color: antiquewhite;
}
div.frame3 div.box div.right {
    background-color:burlywood;
}
@media (min-width: 992px) {
    .frame1,
    .frame2,
    .frame3 {
        width: 33%;
       
    }
}



@media (min-width: 768px) and (max-width: 991px){
    .frame1,
    .frame2 {
        width: 50%;
        
    }
    .frame3 {
        width: 100%;
        
    }
}    



@media (max-width: 767px){
    .frame1,
    .frame2,
    .frame3{
        width: 100%;
        display: block;
    }
}   
